<div class="introduction-container">
  <section class="scenario-rules">
    <h3>Spielregeln</h3>
    <ul>
      <li>Jeden Tag gibt es eine neues infektiologisch-immunologisches Fallszenario</li>
      <li>4 Teams</li>
      <ul>
        <li>Wollen die Erkrankung ihres Patienten adäquat abklären und behandeln</li>
        <li>Wollen aber nicht 5 Überstunden machen & ihre Abteilung nicht in den finanziellen Ruin treiben</li>
        <li>Sind verschwiegen, um anderen nicht den Spaß zu nehmen</li>
      </ul>
      <li>4 Runden à 10 Minuten</li>
      <ul>
        <li>Anamnese</li>
        <li>Untersuchung</li>
        <li>Labordiagnostik</li>
        <li>Weiterführende Diagnostik</li>
      </ul>
      <li>
        Sie wählen jeweils aus 16 Optionen die für Sie relevanten Informationen aus und erstellen nach jeder Runde
        eine Liste Ihrer Arbeitsdiagnosen, bzw. wählen nach Runde 4 eine Diagnose und einen Behandlungsvorschlag aus.
      </li>
      <li>
        Die von Ihnen verursachte ärztliche Arbeitszeit, die Behandlungszeit des Patienten und die Kosten für Ihre
        Klinik werden erfasst.
      </li>
    </ul>
    <h3>Neues Konzept</h3>
    <ul>
      <li>Testphase für neues Lehrkonzept</li>
      <li>Paper Based &rarr; Digital</li>
    </ul>
    <h3>Ablauf</h3>
    <ul>
      <li>Bearbeitung der Fälle in der Gruppe am Tablet</li>
      <li>Abschlussbesprechung und Auflösung am Ende mit Dozent</li>
    </ul>
    <h3>Voraussetzung</h3>
    <ul>
      <li>Einteilung in 4 Teams &rarr; jedes Team braucht ein iPad mit Eduroam</li>
      <li>Anleitung Eduroam:
        <em>https://www.uni-regensburg.de/rechenzentrum/serviceangebot/netzwerk/wlan-lan/eduroam-konfigurieren/index.html</em>
      </li>
      <li>WLAN-Verbindung mit Eduroam aktiv</li>
    </ul>
    <div class="qr-codes-container">
      <div class="qr-code-item">
        <img src="qr_code_eduroam.png" alt="QR Code EduRoam" class="qr_code">
        <p class="qr-label">QR Code Eduroam</p>
      </div>

      <div class="qr-code-item">
        <img src="qr_code.png" alt="QR Code HomePage" class="qr_code">
        <p class="qr-label">QR Code Homepage</p>
      </div>
    </div>
  </section>
</div>
<div>
  <div>
    <button [routerLink]="'/introduction'" class="submit-button">Weiter</button>
  </div>
</div>
