<header>
    <img src="left corner title.jpg" alt="Left Header Image" class="pic-left">
    <img src="Logo.jpg" alt="Right Header Image" class="pic-right">
</header>

<main class="main-content">
    <div class="main-box">
        <p>INFEKTIOLOGISCHES<br>IMMUNOLOGISCHES<br>SEMINAR</p>
    </div>
</main>

<section class="semester-bar">
    <p>Sommersemester 2025</p>
</section>
<div>
    <button [routerLink]="'/introduction'" class="submit-button">Weiter</button>
</div>

<footer>
    <img src="left down corner.jpg" alt="Left Footer Image" class="pic-left">
    <img src="ukr.jpg" alt="Right Footer Image" class="pic-right">
</footer>