/* .welcome-message {
    text-align: center;
    margin: 40px auto 30px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    color: #2c3e50;
    line-height: 1.6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.welcome-message h3 {
    font-size: 22px;
    color: #2980b9;
    margin-bottom: 10px;
}

.welcome-message p {
    margin-bottom: 0;
}
h2 {
    text-align: center;
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}



.scenario-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.scenario-button {
    background-color: #f1f1f1;
    color: #333;
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .scenario-button.selected {
    background-color: #4caf50;
    color: white;
    border-color: #388e3c;
  } */

/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  background-color: #008db8;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.header:hover {
  background-color: #00a3d1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 20px;
}

.scenario-button {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Helvetica Neue", Arial, sans-serif !important;
}

.scenario-button.selected {
    background-color: green;
    color: white;
    border-color: green;
  }

.scenario-button:hover {
  background-color: #e0e0e0;
}
