/* ------------------------- */
/*  Summary Table Styling */
/* ------------------------- */
.summary-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  .summary-container h2, h3 {
      text-align: center;
      color: #333;
    }
  
  .summary-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .summary-card ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: fit-content;
  }
  
  .summary-card ul li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 20px auto;
  }