<h2 class="title">Zusammenfassung des medizinischen Szenarios für das Team: {{ teamName() }}</h2>

@if (selectedMedicalHistories().length > 0 || selectedExaminations().length > 0 ||
selectedLaboratories().length > 0 || selectedFollowUps().length > 0) {
<div class="summary-container">
  <!-- Medical History Summary -->
  <div class="summary-card">
    <h3>Anamnese</h3>
    <table class="results-table">
      <thead>
        <tr>
          <th>Auswahl</th>
        </tr>
      </thead>
      <tbody>
        @for (item of selectedMedicalHistories(); track item.code) {
        <tr>
          <td>{{ item.item }}</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="totals">
      <h3>
        Gesamtkosten:
        <span>{{
          getTotalCost(selectedMedicalHistories()) | currency : "EUR"
        }}</span>
      </h3>
      <h3>
        Gesamtzeit des Arztes Anamnese:
        <span>{{ getTotalDoctorTime(selectedMedicalHistories()) }} Min</span>
      </h3>
      <h3>
        Gesamtzeit des Patienten Anamnese:
        <span>{{ getTotalPatientTime(selectedMedicalHistories()) }} Min</span>
      </h3>
    </div>
    <h3>Diagnose:</h3>
    <ul>
      @for (guess of medicalHistoryDiagnosisGuesses(); track $index) {
      <li>{{ guess }}</li>
      }
    </ul>
  </div>

  <!-- Examinations Summary -->
  <div class="summary-card">
    <h3>Untersuchung</h3>
    <table class="results-table">
      <thead>
        <tr>
          <th>Auswahl</th>
        </tr>
      </thead>
      <tbody>
        @for (item of selectedExaminations(); track item.code) {
        <tr>
          <td>{{ item.item }}</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="totals">
      <h3>
        Gesamtkosten Untersuchung:
        <span>{{ getTotalCost(selectedExaminations()) | currency : "EUR" }}</span>
      </h3>
      <h3>
        Gesamtzeit des Arztes:
        <span>{{ getTotalDoctorTime(selectedExaminations()) }} Min</span>
      </h3>
      <h3>
        Gesamtzeit des Patienten:
        <span>{{ getTotalPatientTime(selectedExaminations()) }} Min</span>
      </h3>
    </div>
    <h3>Diagnosis Guesses:</h3>
    <ul>
      @for (guess of examinationDiagnosisGuesses(); track $index) {
      <li>{{ guess }}</li>
      }
    </ul>
  </div>

  <!-- Laboratories Summary -->
  <div class="summary-card">
    <h3>Labordiagnostik</h3>
    <table class="results-table">
      <thead>
        <tr>
          <th>Auswahl</th>
        </tr>
      </thead>
      <tbody>
        @for (item of selectedLaboratories(); track item.code) {
        <tr>
          <td>{{ item.item }}</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="totals">
      <h3>
        Gesamtkosten:
        <span>{{ getTotalCost(selectedLaboratories()) | currency : "EUR" }}</span>
      </h3>
      <h3>
        Gesamtzeit des Arztes:
        <span>{{ getTotalDoctorTime(selectedLaboratories()) }} Min</span>
      </h3>
      <h3>
        Gesamtzeit des Patienten:
        <span>{{ getTotalPatientTime(selectedLaboratories()) }} Min</span>
      </h3>
    </div>
    <h3>Diagnosis Guesses:</h3>
    <ul>
      @for (guess of laboratoryDiagnosisGuesses(); track $index) {
      <li>{{ guess }}</li>
      }
    </ul>
  </div>

  <!-- FollowUps Summary -->
  <div class="summary-card">
    <h3>Weitere Diagnostik</h3>
    <table class="results-table">
      <thead>
        <tr>
          <th>Auswahl</th>
        </tr>
      </thead>
      <tbody>
        @for (item of selectedFollowUps(); track item.code) {
        <tr>
          <td>{{ item.item }}</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="totals">
      <h3>
        Gesamtkosten Weitere Diagnostik:
        <span>{{ getTotalCost(selectedFollowUps()) | currency : "EUR" }}</span>
      </h3>
      <h3>
        Gesamtzeit des Arztes Weitere Diagnostik:
        <span>{{ getTotalDoctorTime(selectedFollowUps()) }} Min</span>
      </h3>
      <h3>
        Gesamtzeit des Patienten Weitere Diagnostik:
        <span>{{ getTotalPatientTime(selectedFollowUps()) }} Min</span>
      </h3>
    </div>
    <h3>Diagnosis Guesses:</h3>
    <ul>
      @for (guess of followUpDiagnosisGuesses(); track $index) {
      <li>{{ guess }}</li>
      }
    </ul>
  </div>

  <!-- Overall Totals -->
  <div class="totals">
    <h3>
      Gesamtkosten:
      <span>{{ getTotalOverallCost() | currency : "EUR" }}</span>
    </h3>
    <h3>
      Overall Doctor Time: <span>{{ getTotalOverallDoctorTime() }} Min</span>
    </h3>
    <h3>
      Gesamtzeit des Patienten: <span>{{ getTotalOverallPatientTime() }} Min</span>
    </h3>
  </div>
</div>
}
