<div class="introduction-container">
  <h2>Einführung zum medizinischen Fall {{ scenarioNumber }}</h2>

  <section class="scenario-rules">
    <h3>Spielregeln</h3>
    <ul>
      <li>
        Es gibt 4 Teams (Team Dr. Carter, Team Dr. Ross, Team Dr. Green, Team
        Dr. Weaver).
      </li>
      <li>
        Ziel ist es, die Erkrankung des Patienten effizient zu diagnostizieren
        und zu behandeln, ohne zu viele Überstunden zu machen oder die Abteilung
        finanziell zu ruinieren.
      </li>
      <li>
        Jede Runde dauert 10 Minuten und umfasst verschiedene Aspekte des
        Patientenfalls:
        <ul>
          <li>Anamnese (Medizinische Vorgeschichte)</li>
          <li>Untersuchung (Körperliche Untersuchung)</li>
          <li>Labordiagnostik (Laboruntersuchungen)</li>
          <li>Weiterführende Diagnostik (Weitere Diagnostiken)</li>
        </ul>
      </li>
      <li>
        Nach jeder Runde erstellt ihr eine Liste von Arbeitsdiagnosen oder wählt
        nach Runde 4 eine endgültige Diagnose und einen Behandlungsvorschlag
        aus.
      </li>
      <li>
        Die Entscheidungen wirken sich auf die ärztliche Arbeitszeit, die
        Behandlungszeit des Patienten und die Kosten der Klinik aus.
      </li>
    </ul>
  </section>

  @if (patientScenario) {
  <section class="patient-scenario">
    <h3>Patientenfall</h3>
    <p>{{ patientScenario.mysteryCase }}</p>
  </section>
  } @if (patientScenario?.developments) {
  <section class="further-development">
    @for (development of patientScenario.developments; track $index) {
    <div>
      <h3>{{ development.stage }}</h3>
      <p>{{ development.description }}</p>
    </div>
    }
  </section>
  }
  <button class="start-button" (click)="startScenario()">
    Starten Sie den Fall
  </button>
</div>
